* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: sans-serif;
/*   background-color: rgb(240, 240, 240); */
}

[hidden] {
  display: none;
}

.form {
  position: absolute;
  place-self: center;
  justify-content: center;
  align-items: center;
  background: black;
  border-radius: 10px;
  border-right: 5px solid rgb(255, 0, 253);
  border-bottom: 5px solid rgb(255, 0, 253);
  border-left: 5px solid rgb(0, 253, 255);
  border-top: 5px solid rgb(0, 253, 255);
  color: darkturquoise;
  height: 500px;
  width: 700px;
  margin-bottom: 50px;
}

.form fieldset {
  text-align: center;
  border: none;
  font-size: 3rem;
  height: 100%;
}

.form legend {
  padding-top: 20px;
}

form {
  display: grid;
  grid: repeat(2, 1fr);
  justify-content: center;
  padding: 20px;
  height: 100%;
  width: 100%;
  gap: 5px;
}

form div{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items:center;
}

#label-1 {
  color: blueviolet;
}

#label-2 {
  color: darkturquoise;
}

input {
  height: 100px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
  margin-left: -10px;
  padding: 10px;
  font-size: 3rem;
}

input#player1 {
  color: blueviolet;
  border: 3px solid blueviolet;
}

input#player2 {
  color: darkturquoise;
  border: 3px solid darkturquoise;
}

.form button {
  grid-column: 1/3;
  place-self: center;
  width: 100px;
  height: 50px;
  border-right: 2px solid rgb(255, 0, 253);
  border-bottom: 2px solid rgb(255, 0, 253);
  border-left: 2px solid rgb(0, 253, 255);
  border-top: 2px solid rgb(0, 253, 255);
  font-size: 1.5rem;
  border-radius: 8px;
  background-color: black;
  color: white;
}

#winner {
  position: absolute;
  place-self: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: black;
  margin-bottom: 50px;
  font-size: 6rem;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-top: -200px;
}

.button button {
  
  width: 100px;
  height: 50px;
  border-right: 2px solid rgb(255, 0, 253);
  border-bottom: 2px solid rgb(255, 0, 253);
  border-left: 2px solid rgb(0, 253, 255);
  border-top: 2px solid rgb(0, 253, 255);
  font-size: 1.5rem;
  border-radius: 8px;
  background-color: black;
  color: white;
}

.container {
  display: grid;
  place-items: center;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
}

.blocks {
  border: 3px solid darkmagenta;
  padding: 5px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 15rem;
  background-color: black;
}

#block1 {
  border-top: none;
  border-left: none;
}

#block2 {
  border-top: none;
}

#block3 {
  border-top: none; 
  border-right: none;
}

#block4 {
border-left: none;
}

#block6 {
   border-right: none;
}

#block7 {
  border-left: none;
  border-bottom: none;
}

#block8 {
  border-bottom: none;
}

#block9 {
  border-right: none;
  border-bottom: none;
}