* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: sans-serif;
/*   background-color: rgb(240, 240, 240); */
}

[hidden] {
  display: none;
}

#winner {
  position: absolute;
  place-self: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: black;
  margin-bottom: 50px;
  font-size: 6rem;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-top: -200px;
}

.button button {
  
  width: 100px;
  height: 50px;
  border-right: 2px solid rgb(255, 0, 253);
  border-bottom: 2px solid rgb(255, 0, 253);
  border-left: 2px solid rgb(0, 253, 255);
  border-top: 2px solid rgb(0, 253, 255);
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.container {
  display: grid;
  place-items: center;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
}

.blocks {
  border: 3px solid darkmagenta;
  padding: 5px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 15rem;
  background-color: black;
}

#block1 {
  border-top: none;
  border-left: none;
}

#block2 {
  border-top: none;
}

#block3 {
  border-top: none; 
  border-right: none;
}

#block4 {
border-left: none;
}

#block6 {
   border-right: none;
}

#block7 {
  border-left: none;
  border-bottom: none;
}

#block8 {
  border-bottom: none;
}

#block9 {
  border-right: none;
  border-bottom: none;
}